jupyter-book == 0.10.2
jinja2 < 3.1
sphinx < 4

# Later versions of the following packages (automatically installed with sphinx) require sphinx > 5.0, so must be pinned to v1.0.0
sphinxcontrib-applehelp == 1.0.0
sphinxcontrib-devhelp == 1.0.0
sphinxcontrib-htmlhelp == 1.0.0
sphinxcontrib-qthelp == 1.0.0
sphinxcontrib-serializinghtml == 1.0.0

jupytext
sphinx-multitoc-numbering
numba
numpy == 1.20
pandas >= 1.2.1
plotly
psutil
biopython
pytest
owlready2
# scikit-allel
scanpy
sphinx_jupyterbook_latex
ontolopy == 1.1.1b0
